@charset "UTF-8";
html {
  font-size: 16px;
}

body {
  font-family: "'Noto Sans JP', sans-serif";
}

a[href^="tel:"] {
  pointer-events: none;
}
@media screen and (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: auto;
  }
}

a {
  transition: opacity 0.3s;
}
a:hover {
  opacity: 0.7;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.header {
  background: #fff;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
}
@media screen and (min-width: 768px) {
  .header {
    width: 100%;
    height: 80px;
  }
}
@media screen and (max-width: 767px) {
  .header {
    width: 100%;
    height: 70px;
  }
}

@media screen and (min-width: 768px) {
  .header__inner {
    padding-right: 89px;
  }
}
@media screen and (max-width: 767px) {
  .header__inner {
    max-width: 100%;
  }
}

.header__content-container {
  position: relative;
}

.header__logo {
  position: absolute;
}
@media screen and (min-width: 768px) {
  .header__logo {
    margin-top: 20px;
    margin-left: 50px;
    width: 290px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 767px) {
  .header__logo {
    top: 15px;
    left: 25px;
    width: 180px;
  }
}

.header__nav {
  display: inline-block;
  position: absolute;
  top: 50px;
  left: 1174px;
  bottom: 30px;
}

.header__nav-items {
  display: flex;
  margin-right: 95px;
}

.header__nav-item {
  margin-right: 45px;
}

.header__nav-link {
  color: #000;
}

.hamburger {
  position: fixed;
  z-index: 9999;
  top: 20px;
  left: 320px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }
}

.hamburger__circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #F6DC4F;
}

.hamburger span {
  position: absolute;
  left: 7px;
  display: inline-block;
  width: 20px;
  height: 2px;
  background-color: #fff;
}

.hamburger span:first-child {
  top: 10px;
}

.hamburger span:nth-child(2) {
  top: 15px;
  transition: opacity 0.3s;
}

.hamburger span:nth-child(3) {
  top: 20px;
}

.hamburger.is-active {
  width: 21px;
  height: 21px;
}

.hamburger.is-active span:first-child {
  top: 15px;
  transform: rotate(-45deg);
}

.hamburger.is-active span:nth-child(2) {
  display: none;
}

.hamburger.is-active span:nth-child(3) {
  top: 15px;
  transform: rotate(45deg);
}

.drawer {
  background-color: #F6DC4F;
  width: 375px;
  height: 570px;
}
@media screen and (min-width: 768px) {
  .drawer {
    display: none;
  }
}

.drawer__logo {
  position: absolute;
}
@media screen and (min-width: 768px) {
  .drawer__logo {
    margin-top: 15px;
    margin-left: 50px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 767px) {
  .drawer__logo {
    top: 15px;
    left: 25px;
    width: 180px;
  }
}

.drawer__nav-items {
  text-align: center;
  position: relative;
  top: 133px;
}

.drawer__nav-item {
  color: #fff;
  margin-bottom: 44px;
}

.drawer__nav-link {
  color: #fff;
}

.drawer__contact-button-white_sp .drawer__nav-link {
  color: #000;
}

.footer {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer {
    width: 1920px;
    height: 502px;
    padding-bottom: 100px;
  }
}
@media screen and (max-width: 767px) {
  .footer {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    height: 653px;
  }
}

@media screen and (min-width: 768px) {
  .footer__content-container {
    display: flex;
    padding-top: 100px;
  }
}

.footer__logo {
  position: relative;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    left: 370px;
    width: 290px;
    height: 65px;
  }
}
@media screen and (max-width: 767px) {
  .footer__logo {
    left: 90px;
    width: 180px;
  }
}

@media screen and (max-width: 767px) {
  .footer__nav {
    position: relative;
    top: 43px;
  }
}

@media screen and (min-width: 768px) {
  .footer__nav-items {
    display: flex;
    padding-left: 600px;
    padding-bottom: 57px;
  }
}
@media screen and (max-width: 767px) {
  .footer__nav-items {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .footer__nav-item {
    margin-left: 43px;
  }
}
@media screen and (max-width: 767px) {
  .footer__nav-item {
    margin-bottom: 35px;
  }
}

.footer__nav-inner {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .footer__nav-inner {
    padding-bottom: 40px;
  }
}

.footer__nav-link {
  font-size: 15px;
  color: #000;
}

@media screen and (min-width: 768px) {
  .footer__nav-item_sp {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .footer__nav-item_pc {
    display: none;
  }
}

.footer__contact-button-yellow_sp .footer__nav-text {
  color: #fff;
}

.sns__inner {
  display: flex;
}
@media screen and (min-width: 768px) {
  .sns__inner {
    padding-left: 885px;
    padding-bottom: 145px;
  }
}
@media screen and (max-width: 767px) {
  .sns__inner {
    margin: 5px 105px 95px 113px;
  }
}

.sns__inner img {
  width: 30px;
  height: 30px;
}

.twitter-icon,
.insta-icon img {
  margin-right: 30px;
}

.footer__company {
  text-align: center;
}

.footer__copyright::before {
  content: "";
  display: block;
  background-color: #BDBDBD;
}
@media screen and (min-width: 768px) {
  .footer__copyright::before {
    width: 1180px;
    height: 1px;
    margin-left: 370px;
  }
}
@media screen and (max-width: 767px) {
  .footer__copyright::before {
    width: 335px;
    height: 1px;
    margin-left: 20px;
    margin-bottom: 10px;
  }
}

.footer__copyright {
  font-size: 12px;
  padding-top: 50px;
  padding-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    margin-top: 75px;
  }
}

.header__contact-button-gray_pc {
  display: inline-block;
  width: 140px;
  height: 50px;
  background: #BDBDBD;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 50px;
  opacity: 1;
}

.header__contact-button-yellow_pc {
  display: inline-block;
  width: 140px;
  height: 50px;
  background: #F6DC4F;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 50px;
  opacity: 1;
}

.drawer__contact-button-white_sp {
  display: inline-block;
  top: 366px;
  left: 30px;
  width: 315px;
  height: 50px;
  background: #fff;
  border: 1px solid #fff;
  border-radius: 50px;
  opacity: 1;
}

.drawer__contact-button-yellow_sp {
  display: inline-block;
  top: 456px;
  left: 30px;
  width: 315px;
  height: 50px;
  background: #F6DC4F;
  border: 1px solid #fff;
  border-radius: 50px;
  opacity: 1;
}

.top-news__item-btn {
  background-color: #F6DC4F;
  color: #fff;
  position: relative;
  display: block;
  width: 102px;
  height: 30px;
  font-size: 14px;
  border-radius: 50px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .top-news__item-btn {
    margin-top: 45px;
    margin-right: 70px;
  }
}

.footer__contact-button-white_sp {
  display: inline-block;
  width: 140px;
  height: 50px;
  background: #fff;
  border: 1px solid #BDBDBD;
  border-radius: 50px;
  opacity: 1;
  margin-left: 40px;
}

.footer__contact-button-gray_pc {
  display: inline-block;
  width: 140px;
  height: 50px;
  background: #BDBDBD;
  border: 1px solid #fff;
  border-radius: 50px;
  opacity: 1;
  margin-right: 10px;
  margin-left: 40px;
}

.footer__contact-button-gray_pc .footer__nav-link {
  color: #fff;
}

.footer__contact-button-yellow_sp {
  display: inline-block;
  width: 140px;
  height: 50px;
  background: #F6DC4F;
  border: 1px solid #F6DC4F;
  border-radius: 50px;
  opacity: 1;
  margin-right: 40px;
}

.scroll {
  position: absolute;
  background-color: #F6DC4F;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .scroll {
    top: 901px;
    left: 1650px;
    width: 150px;
    height: 150px;
    border-radius: 150px;
  }
}
@media screen and (max-width: 767px) {
  .scroll {
    top: 504px;
    left: 290px;
    width: 65px;
    height: 65px;
    border-radius: 50px;
  }
}

.scroll span {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  line-height: 1;
  position: relative;
  background-color: #fff;
  animation: scroll-down 2s ease-in infinite;
}
@media screen and (min-width: 768px) {
  .scroll span {
    width: 4px;
    height: 20px;
  }
}
@media screen and (max-width: 767px) {
  .scroll span {
    width: 2px;
    height: 15px;
  }
}

.scroll span::before {
  content: "";
  width: 10px;
  height: 10px;
  border: 2px solid #fff;
  border-top: 0;
  border-right: 0;
  transform: rotate(-45deg);
  transform-origin: bottom left;
  position: absolute;
  left: 50%;
  bottom: -3px;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .allow-down {
    top: 60px;
    bottom: 15px;
    left: 70px;
  }
}
@media screen and (max-width: 767px) {
  .allow-down {
    top: 15px;
    bottom: 15px;
    left: 30px;
  }
}

@keyframes allow-down {
  0% {
    transform: translateY(-100%);
  }
  33% {
    transform: translateY(0);
  }
  66% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(100%);
  }
}
.allow-right img {
  position: absolute;
}
@media screen and (min-width: 768px) {
  .allow-right img {
    top: 42px;
    left: 36px;
    width: 27px;
    height: 12px;
  }
}
@media screen and (max-width: 767px) {
  .allow-right img {
    top: 26px;
    width: 65px;
    height: 12px;
  }
}

.top-vision__scroll span {
  position: absolute;
  background-color: #F6DC4F;
  border-radius: 50px;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .top-vision__scroll span {
    top: 2961px;
    left: 1452px;
    width: 98px;
    height: 98px;
  }
}
@media screen and (max-width: 767px) {
  .top-vision__scroll span {
    top: 1694px;
    left: 290px;
    width: 65px;
    height: 65px;
  }
}

.top-vision__scroll-text,
.top-service__scroll-text {
  font-family: "'Lexend', sans-serif";
  font-size: 16px;
}
@media screen and (min-width: 768px) {
  .top-vision__scroll-text,
  .top-service__scroll-text {
    padding-top: 55px;
    padding-left: 1293px;
    padding-bottom: 100px;
  }
}
@media screen and (max-width: 767px) {
  .top-vision__scroll-text,
  .top-service__scroll-text {
    padding-top: 80px;
    padding-left: 132px;
    padding-bottom: 62px;
  }
}

.top-service__scroll span {
  position: absolute;
  background-color: #F6DC4F;
  border-radius: 50px;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .top-service__scroll span {
    top: 4390px;
    left: 1452px;
    width: 98px;
    height: 98px;
  }
}
@media screen and (max-width: 767px) {
  .top-service__scroll span {
    top: 2410px;
    left: 290px;
    width: 65px;
    height: 65px;
  }
}

.top-news__scroll-text {
  position: absolute;
  font-family: "'Lexend', sans-serif";
  font-size: 16px;
}
@media screen and (min-width: 768px) {
  .top-news__scroll-text {
    padding-top: 125px;
    left: 1130px;
    width: 106px;
    height: 16px;
  }
}
@media screen and (max-width: 767px) {
  .top-news__scroll-text {
    display: none;
  }
}

.top-news__scroll span {
  position: absolute;
  background-color: #F6DC4F;
  border-radius: 50px;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .top-news__scroll span {
    left: 1300px;
    width: 98px;
    height: 98px;
    bottom: 125px;
  }
}
@media screen and (max-width: 767px) {
  .top-news__scroll span {
    display: none;
  }
}

.allow-black {
  position: absolute;
}
@media screen and (min-width: 768px) {
  .allow-black {
    padding-top: 50px;
  }
}
@media screen and (max-width: 767px) {
  .allow-black {
    padding-bottom: 30px;
  }
}

.allow-black img {
  position: relative;
}
@media screen and (min-width: 768px) {
  .allow-black img {
    left: 1475px;
    width: 26px;
    height: 12px;
  }
}
@media screen and (max-width: 767px) {
  .allow-black img {
    left: 311px;
    width: 26px;
    height: 12px;
  }
}

.top-recruit__scroll-text {
  position: absolute;
  font-family: "'Lexend', sans-serif";
  font-size: 16px;
}
@media screen and (min-width: 768px) {
  .top-recruit__scroll-text {
    top: 6876px;
    left: 1253px;
    width: 106px;
    height: 16px;
  }
}
@media screen and (max-width: 767px) {
  .top-recruit__scroll-text {
    top: 4530px;
    left: 83px;
    width: 224px;
    height: 65px;
  }
}

.top-recruit__scroll span {
  position: absolute;
  background-color: #F6DC4F;
  border-radius: 50px;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .top-recruit__scroll span {
    top: 6832px;
    left: 1412px;
    width: 98px;
    height: 98px;
  }
}
@media screen and (max-width: 767px) {
  .top-recruit__scroll span {
    top: 4509px;
    left: 242px;
    width: 65px;
    height: 65px;
  }
}

@media screen and (min-width: 768px) {
  .top-fv {
    background-image: url(../images/top_pc/top_fv-pc.png);
    background-position: top right;
    width: 1920px;
    height: 996px;
  }
}
@media screen and (max-width: 767px) {
  .top-fv {
    background-image: url(../images/top_sp/top-fv_sp.png);
    width: 100%;
    height: 570px;
  }
}

.top-fv__cover {
  position: relative;
}
@media screen and (min-width: 768px) {
  .top-fv__cover {
    top: 237px;
    left: 183px;
    width: 1200px;
    height: 500px;
  }
}
@media screen and (max-width: 767px) {
  .top-fv__cover {
    top: 125px;
    left: 0px;
    width: 355px;
    height: 250px;
  }
}

.top-fv__main img {
  border-radius: 30px;
}

.top-fv__text {
  font-family: "'Lexend', sans-serif";
  font-weight: 300;
  color: #F6DC4F;
  position: absolute;
}
@media screen and (min-width: 768px) {
  .top-fv__text {
    font-size: 250px;
    top: 575px;
    left: 55px;
    width: 778px;
    height: 250px;
  }
}
@media screen and (max-width: 767px) {
  .top-fv__text {
    font-size: 85px;
    top: 335px;
    left: 10px;
    width: 265px;
    height: 85px;
  }
}

.top-fv__sub-text {
  font-family: "'Lexend', sans-serif";
  font-weight: 300;
  color: #F6DC4F;
  position: absolute;
}
@media screen and (min-width: 768px) {
  .top-fv__sub-text {
    font-size: 60px;
    top: 780px;
    left: 950px;
    width: 650px;
    height: 60px;
  }
}
@media screen and (max-width: 767px) {
  .top-fv__sub-text {
    font-size: 18px;
    top: 445px;
    left: 160px;
    width: 195px;
    height: 18px;
  }
}

.top-fv__sub-image {
  position: absolute;
}
@media screen and (min-width: 768px) {
  .top-fv__sub-image {
    top: 780px;
    left: 70px;
    width: 540px;
    height: 80px;
  }
}
@media screen and (max-width: 767px) {
  .top-fv__sub-image {
    top: 385px;
    left: 1px;
    width: 265px;
    height: 35px;
  }
}

.top-about {
  background-color: #F1F1F1;
}
@media screen and (min-width: 768px) {
  .top-about {
    background-image: url(../images/top_pc/top-about_pc.png);
    background-position: center left;
    width: 1920px;
    height: 955px;
  }
}
@media screen and (max-width: 767px) {
  .top-about {
    background-image: url(../images/top_sp/top-about_sp.png);
    background-position: center;
    width: 100%;
    height: 523px;
  }
}

.top-about__title {
  color: #F6DC4F;
  font-family: "'Lexend', sans-serif";
}
@media screen and (min-width: 768px) {
  .top-about__title {
    padding-top: 223px;
    padding-left: 183px;
    font-size: 28px;
  }
}
@media screen and (max-width: 767px) {
  .top-about__title {
    padding-top: 53px;
    padding-left: 20px;
    font-size: 13px;
  }
}

.top-about__text {
  font-family: "'Noto Sans JP', sans-serif";
}
@media screen and (min-width: 768px) {
  .top-about__text {
    padding-left: 457px;
    font-size: 48px;
  }
}
@media screen and (max-width: 767px) {
  .top-about__text {
    padding-top: 10px;
    padding-left: 20px;
    font-size: 24px;
  }
}

.top-about__sub {
  font-family: "'Noto Sans JP', sans-serif";
}
@media screen and (min-width: 768px) {
  .top-about__sub {
    padding-top: 53px;
    padding-bottom: 407px;
    font-size: 20px;
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  .top-about__sub {
    width: 328px;
    padding-top: 50px;
    padding-left: 20px;
    font-size: 16px;
    text-align: left;
    line-height: 1.55;
  }
}

.top-about__marquee-text-wrapper {
  position: absolute;
}
@media screen and (min-width: 768px) {
  .top-about__marquee-text-wrapper {
    top: 1700px;
    left: 0px;
    width: 959px;
    height: 250px;
  }
}
@media screen and (max-width: 767px) {
  .top-about__marquee-text-wrapper {
    top: 1032px;
    left: 0px;
    width: 230px;
    height: 60px;
  }
}

.top-about__marquee-text {
  display: flex;
}

.top-about__marquee-text img:nth-child(1) {
  animation: marquee1 20s linear infinite;
}

.top-about__marquee-text img:nth-child(2) {
  animation: marquee2 20s linear infinite;
}

@keyframes marquee1 {
  0% {
    transform: translate(0%, -50%);
  }
  100% {
    transform: translate(-100%, -50%);
  }
}
@keyframes marquee2 {
  0% {
    transform: translate(100%, -50%);
  }
  100% {
    transform: translate(0%, -50%);
  }
}
@media screen and (min-width: 768px) {
  .top-vision {
    background-color: #F1F1F1;
    background-image: url(../images/top_pc/top-vision_pc-bg.png);
    background-position: center left;
    background-repeat: no-repeat;
    width: 1920px;
    height: 1201px;
  }
}

.top-vision__cover {
  background: transparent linear-gradient(112deg, #F6DC4F 0%, #FBE87F 100%);
}
@media screen and (min-width: 768px) {
  .top-vision__cover {
    width: 1920px;
    height: 386px;
  }
  .top-vision__cover img {
    position: absolute;
    top: 2108px;
    left: 370px;
    width: 1550px;
    height: 500px;
  }
}
@media screen and (max-width: 767px) {
  .top-vision__cover {
    width: 100%;
    height: 160px;
  }
  .top-vision__cover img {
    position: absolute;
    top: 1140px;
    left: 20px;
    width: 355px;
    height: 180px;
  }
}

.top-vision__title {
  color: #F6DC4F;
  font-family: "'Lexend', sans-serif";
}
@media screen and (min-width: 768px) {
  .top-vision__title {
    padding-top: 381px;
    padding-left: 183px;
    font-size: 28px;
  }
}
@media screen and (max-width: 767px) {
  .top-vision__title {
    padding-top: 114px;
    padding-left: 20px;
    font-size: 13px;
  }
}

.top-vision__text {
  font-family: "'Noto Sans JP', sans-serif";
}
@media screen and (min-width: 768px) {
  .top-vision__text {
    padding-left: 500px;
    font-size: 38px;
  }
}
@media screen and (max-width: 767px) {
  .top-vision__text {
    padding-top: 10px;
    padding-left: 20px;
    font-size: 24px;
  }
}

.top-vision__sub {
  font-family: "'Noto Sans JP', sans-serif";
  font-size: 16px;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .top-vision__sub {
    padding-top: 51px;
    padding-left: 505px;
  }
}
@media screen and (max-width: 767px) {
  .top-vision__sub {
    width: 328px;
    padding-top: 50px;
    padding-left: 20px;
    line-height: 1.55;
  }
}

.top-service {
  background-color: #F1F1F1;
}
@media screen and (min-width: 768px) {
  .top-service {
    width: 1920px;
    height: 1429px;
  }
}
@media screen and (max-width: 767px) {
  .top-service {
    width: 100%;
    height: 726px;
  }
}

.top-service__title {
  color: #BDBDBD;
  font-family: "'Lexend', sans-serif";
  transform: rotate(90deg);
}
@media screen and (min-width: 768px) {
  .top-service__title {
    position: absolute;
    font-size: 28px;
    font-weight: 700;
    color: #000;
    padding-top: 150px;
    left: 475px;
    padding-bottom: 35px;
    width: 20px;
    height: 20px;
  }
}
@media screen and (max-width: 767px) {
  .top-service__title {
    font-size: 13px;
    padding-top: 110px;
    padding-left: 60px;
    width: 175px;
    height: 57px;
  }
}

.top-service__circle {
  background: #fff;
  border-radius: 50%;
  position: absolute;
  transform: translate(0.5%) scale(0.5);
}
@media screen and (min-width: 768px) {
  .top-service__circle {
    top: 3259px;
    left: 490px;
    width: 940px;
    height: 940px;
  }
}
@media screen and (max-width: 767px) {
  .top-service__circle {
    top: 1839px;
    left: 20px;
    width: 335px;
    height: 338px;
  }
}

.top-service__text {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .top-service__text {
    font-size: 120px;
    line-height: 1.35;
    width: 940px;
    padding-top: 200px;
  }
}
@media screen and (max-width: 767px) {
  .top-service__text {
    font-size: 41px;
    line-height: 1.35;
    width: 335px;
    padding-top: 80px;
  }
}

.top-service__sub-image {
  position: absolute;
}
@media screen and (min-width: 768px) {
  .top-service__sub-image {
    top: 3999px;
    left: 1080px;
    width: 517px;
    height: 98px;
  }
}
@media screen and (max-width: 767px) {
  .top-service__sub-image {
    top: 2105px;
    left: 156px;
    width: 185px;
    height: 35px;
  }
}

.top-service__sub {
  line-height: 1.75;
}
@media screen and (min-width: 768px) {
  .top-service__sub {
    padding-top: 1125px;
    padding-left: 554px;
    width: 1250px;
  }
}
@media screen and (max-width: 767px) {
  .top-service__sub {
    padding-top: 310px;
    padding-left: 20px;
    width: 334px;
  }
}

@media screen and (min-width: 768px) {
  .top-news {
    background-image: url(../images/top_pc/top-news_bg-pc.png);
    width: 1920px;
    height: 1200px;
  }
}
@media screen and (max-width: 767px) {
  .top-news {
    background-image: url(../images/top_sp/top-news_bg-sp.png);
    width: 100%;
    height: 900px;
  }
}

.top-news__wrapper {
  background-color: #fff;
  position: absolute;
}
@media screen and (min-width: 768px) {
  .top-news__wrapper {
    top: 4688px;
    left: 183px;
    width: 1554px;
    height: 953px;
    border-radius: 50px;
  }
}
@media screen and (max-width: 767px) {
  .top-news__wrapper {
    top: 2575px;
    left: 20px;
    width: 335px;
    height: 825px;
    border-radius: 30px;
  }
}

@media screen and (min-width: 768px) {
  .top-news__inner {
    display: flex;
  }
}

.top-news__title {
  color: #F6DC4F;
  font-family: "'Lexend', sans-serif";
}
@media screen and (min-width: 768px) {
  .top-news__title {
    padding-top: 106px;
    padding-left: 293px;
    font-size: 28px;
  }
}
@media screen and (max-width: 767px) {
  .top-news__title {
    padding-top: 63px;
    padding-left: 10px;
    font-size: 13px;
  }
}

.top-news__link {
  display: flex;
}
@media screen and (min-width: 768px) {
  .top-news__link {
    padding-top: 100px;
    padding-left: 617px;
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  .top-news__link {
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
  }
}

.top-news__btn-1 {
  position: absolute;
  background: #F6DC4F;
  border: 1px solid #F6DC4F;
  color: #fff;
  border-radius: 50px;
}
@media screen and (min-width: 768px) {
  .top-news__btn-1 {
    left: 610px;
    width: 200px;
    height: 50px;
  }
}
@media screen and (max-width: 767px) {
  .top-news__btn-1 {
    top: 95px;
    left: 10px;
    width: 100px;
    height: 40px;
  }
}

.top-news__btn-2 {
  position: absolute;
  background: #fff;
  border: 1px solid #F6DC4F;
  color: #000;
  border-radius: 50px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .top-news__btn-2 {
    left: 850px;
    width: 200px;
    height: 50px;
  }
}
@media screen and (max-width: 767px) {
  .top-news__btn-2 {
    top: 95px;
    left: 120px;
    width: 100px;
    height: 40px;
  }
}

.top-news__btn-3 {
  position: absolute;
  background: #fff;
  border: 1px solid #F6DC4F;
  color: #000;
  border-radius: 50px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .top-news__btn-3 {
    left: 1090px;
    width: 200px;
    height: 50px;
  }
}
@media screen and (max-width: 767px) {
  .top-news__btn-3 {
    top: 95px;
    left: 225px;
    width: 100px;
    height: 40px;
  }
}

.top-news__link::after {
  content: "";
  position: absolute;
  background-color: #C4C3BF;
}
@media screen and (min-width: 768px) {
  .top-news__link::after {
    top: 196px;
    left: 187px;
    width: 1180px;
    height: 1px;
  }
}
@media screen and (max-width: 767px) {
  .top-news__link::after {
    top: 160px;
    left: 10px;
    width: 315px;
    height: 1px;
  }
}

@media screen and (min-width: 768px) {
  .top-news__list {
    width: 1180px;
    height: 499px;
  }
}
@media screen and (max-width: 767px) {
  .top-news__list {
    width: 315px;
    height: 599px;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .top-news__item {
    width: 1180px;
  }
}
@media screen and (max-width: 767px) {
  .top-news__item {
    width: 315px;
  }
}

@media screen and (min-width: 768px) {
  .top-news__item:first-child {
    padding-top: 43px;
  }
}
@media screen and (max-width: 767px) {
  .top-news__item:first-child {
    padding-top: 25px;
  }
}

@media screen and (min-width: 768px) {
  .top-news__item-wrapper {
    display: flex;
    width: 1180px;
    height: 97px;
    padding-bottom: 36px;
  }
}

.top-news__item-inner {
  display: flex;
}
@media screen and (min-width: 768px) {
  .top-news__item-inner {
    padding-bottom: 36px;
    padding-left: 187px;
  }
}
@media screen and (max-width: 767px) {
  .top-news__item-inner {
    padding-top: 20px;
    padding-left: 20px;
  }
}

.top-news__item-date {
  color: #BDBDBD;
}
@media screen and (min-width: 768px) {
  .top-news__item-date {
    font-size: 16px;
    margin-top: 45px;
    margin-left: 106px;
    margin-right: 40px;
  }
}
@media screen and (max-width: 767px) {
  .top-news__item-date {
    font-size: 15px;
    padding-right: 5px;
  }
}

.top-news__item-text {
  font-family: "'Noto Sans JP', sans-serif";
  font-size: 16px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .top-news__item-text {
    padding-top: 45px;
    padding-left: 5px;
    padding-bottom: 36px;
  }
}
@media screen and (max-width: 767px) {
  .top-news__item-text {
    padding-left: 20px;
    padding-top: 25px;
    padding-bottom: 10px;
  }
}

.top-news__item::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #C4C3BF;
}
@media screen and (min-width: 768px) {
  .top-news__item::after {
    left: 187px;
    width: 1180px;
    height: 1px;
  }
}
@media screen and (max-width: 767px) {
  .top-news__item::after {
    width: 315px;
    left: 10px;
    height: 1px;
  }
}

.top-recruit {
  background-color: #F1F1F1;
}
@media screen and (min-width: 768px) {
  .top-recruit {
    width: 1920px;
    height: 1369px;
  }
}
@media screen and (max-width: 767px) {
  .top-recruit {
    width: 100%;
    height: 1300px;
  }
}

.top-recruit__circle {
  background-color: #F6DC4F;
  border-radius: 50%;
  position: absolute;
  transform: translate(0.5%) scale(0.5);
}
@media screen and (min-width: 768px) {
  .top-recruit__circle {
    top: 5841px;
    left: 10px;
    width: 642px;
    height: 642px;
  }
}
@media screen and (max-width: 767px) {
  .top-recruit__circle {
    top: 3480px;
    left: 38px;
    width: 300px;
    height: 300px;
  }
}

.top-recruit__text {
  text-align: center;
  color: #fff;
  font-family: "'Lexend', sans-serif";
}
@media screen and (min-width: 768px) {
  .top-recruit__text {
    width: 338px;
    padding-top: 261px;
    padding-left: 147px;
    line-height: 1;
    font-size: 88px;
  }
}
@media screen and (max-width: 767px) {
  .top-recruit__text {
    width: 173px;
    padding-top: 115px;
    padding-left: 55px;
    line-height: 1;
    font-size: 45px;
  }
}

.top-recruit__title {
  color: #fff;
  font-family: "'Lexend', sans-serif";
}
@media screen and (min-width: 768px) {
  .top-recruit__title {
    font-size: 28px;
    padding-top: 23px;
    padding-left: 147px;
  }
}
@media screen and (max-width: 767px) {
  .top-recruit__title {
    font-size: 13px;
    padding-top: 15px;
    padding-left: 55px;
  }
}

.top-recruit__img {
  position: absolute;
}
@media screen and (min-width: 768px) {
  .top-recruit__img {
    top: 5858px;
    left: 730px;
    width: 1190px;
    height: 608px;
  }
}
@media screen and (max-width: 767px) {
  .top-recruit__img {
    top: 3815px;
    left: 20px;
    width: 375px;
    height: 250px;
  }
}

.top-recruit__inner {
  background-color: #fff;
  position: absolute;
}
@media screen and (min-width: 768px) {
  .top-recruit__inner {
    top: 6566px;
    left: 183px;
    width: 1554px;
    height: 444px;
    border-radius: 240px;
  }
}
@media screen and (max-width: 767px) {
  .top-recruit__inner {
    top: 4105px;
    left: 20px;
    width: 335px;
    height: 585px;
    border-radius: 160px;
  }
}

.top-recruit__main-text {
  color: #000;
  font-family: "'Noto Sans JP', sans-serif";
  text-align: center;
}
@media screen and (min-width: 768px) {
  .top-recruit__main-text {
    font-size: 38px;
    padding-top: 91px;
  }
}
@media screen and (max-width: 767px) {
  .top-recruit__main-text {
    font-size: 20px;
    padding-top: 120px;
  }
}

@media screen and (min-width: 768px) {
  .top-recruit__sub {
    font-size: 16px;
    padding-top: 51px;
    padding-left: 227px;
  }
}
@media screen and (max-width: 767px) {
  .top-recruit__sub {
    padding-top: 50px;
    padding-left: 30px;
    width: 300px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 768px) {
  .utils-hidden-mobile {
    display: inline-block !important;
  }
}
@media screen and (max-width: 767px) {
  .utils-hidden-mobile {
    display: none !important;
  }
}

@media screen and (min-width: 768px) {
  .utils-block-hidden-mobile {
    display: block !important;
  }
}
@media screen and (max-width: 767px) {
  .utils-block-hidden-mobile {
    display: none !important;
  }
}

@media screen and (min-width: 768px) {
  .utils-hidden-pc {
    display: none !important;
  }
}
@media screen and (max-width: 767px) {
  .utils-hidden-pc {
    display: inline-block !important;
  }
}

@media screen and (min-width: 768px) {
  .utils-block-hidden-pc {
    display: none !important;
  }
}
@media screen and (max-width: 767px) {
  .utils-block-hidden-pc {
    display: block !important;
  }
}

.utils-hidden {
  display: none !important;
}

.utils-visible {
  visibility: visible !important;
  opacity: 1 !important;
}/*# sourceMappingURL=style.css.map */