@charset "UTF-8";
@use '../../global' as *;

// ================================================================
// footer
// ================================================================
.footer {
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;

    @include mq(md) {
    padding-top: 120px;
    padding-bottom: 120px;
    }
}

// ================================================================
// フッターロゴ
// ================================================================
.footer__logo {
    align-items: center;
}

