@charset "UTF-8";
@use '../../global' as *;

// ================================================================
// footer
// ================================================================
.footer {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;

    @include mq(md) {
    padding-top: 120px;
    padding-bottom: 120px;
    }
}

// ================================================================
// フッターロゴ
// ================================================================
.footer__logo {
    width: 180px;
}

