@charset "UTF-8";
@use '../../global' as *;

// ================================================================
// フッター
// ================================================================
.footer {
    text-align: center;

    @include mq("pc") {
        width: 1920px;
        height: 502px;
        padding-bottom: 100px;
    }

    @include mq("sp") {
        padding-top: 50px;
        padding-bottom: 50px;
        width: 100%;
        height: 653px;
    }
}

.footer__content-container {
    @include mq("pc") {
        padding-top: 100px;
    }
}

// ================================================================
// フッターロゴ
// ================================================================
.footer__logo {
    position: relative;
    @include mq("pc") {
        margin-top: 100px;
        margin-left: 370px;
        width: 290px;
        box-sizing: border-box;
    }

    @include mq("sp") {
        left: 90px;
        width: 180px;
    }
}

// ================================================================
// フッターナビ
// ================================================================
.footer__nav {

    @include mq("sp") {
        position: relative;
        top: 43px;
    }
}

.footer__nav-items {

    @include mq("pc") {
        display: flex;
        top: 108px;
        padding-left: 904px;
    }

    @include mq("sp") {
        display: block;
    }
}

.footer__nav-item {

    @include mq("pc") {
        margin-left: 43px;
    }

    @include mq("sp") {
        margin-bottom: 35px;
    }
}

.footer__nav-inner {
    display: flex;
    justify-content: space-between;
    @include mq("sp") {
        padding-bottom: 40px;
    }
}

.footer__nav-link {
    font-size: 15px;
    color: $black;
}

.footer__nav-item_sp {
    @include mq("pc") {
        display: none;
    }
}

.footer__nav-item_pc {
    @include mq("sp") {
        display: none;
    }
}

.footer__contact-button-yellow_sp .footer__nav-text {
    color: $white;
}

// ================================================================
// SNS
// ================================================================
.sns__inner {
    display: flex;

    @include mq("pc") {
        padding-top: 57px;
        padding-left: 885px;
        padding-bottom: 145px;
    }

    @include mq("sp") {
        margin: 5px 105px 95px 113px;
    }
}

.sns__inner img{
    width: 30px;
    height: 30px;
}

.twitter-icon,
.insta-icon img {
    margin-right: 30px;
}

// ================================================================
// Copyright
// ================================================================
.footer__company {
    text-align: center;
}

.footer__copyright::before {
    content: "";
    display: block;
    background-color: $accent-color;

    @include mq("pc") {
        width: 1180px;
        height: 1px;
        margin-left: 370px;
    }

    @include mq("sp") {
        width: 335px;
        height: 1px;
        margin-left: 20px;
        margin-bottom: 10px;
    }
}

.footer__copyright {
    font-size: 12px;
    padding-top: 50px;
    padding-bottom: 50px;

    @include mq("pc") {
        margin-top: 75px;
    }
}