@charset "UTF-8";
@use '../../global' as *;

// ================================================================
// ヘッダー
// ================================================================
.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
}
.header__inner {
    @include mq(sp) {
        max-width: 100%;
    }
    @include mq(md) {
        padding-right: min(toVw(89), 89px);
    }
}

.header__content-container {
    position: relative;
}

// ----------------------------------------
// ヘッダーロゴ
// ----------------------------------------
.header__logo {
    position: absolute;
    @include mq(md) {
        margin-top: 15px;
        margin-left: 50px;
        box-sizing: border-box;
    }

    @include mq(sp) {
        top: 15px;
        left: 25px;
        width: 180px;
    }
}

// ----------------------------------------
// ヘッダーナビ
// ----------------------------------------
.header__nav {
    display: inline-block;
    position: absolute;
    top: 37px;
    left: 1220px;
    bottom: 30px;
    @include mq(sp) {
        display: none;
    }
}

.header__nav-items {
    display: flex;
    margin-right: 95px;
}

.header__nav-item {
    margin-right: 45px;
}

// ----------------------------------------
// ハンバーガー
// ----------------------------------------
.hamburger {
    position: fixed;
    z-index: 9999;
    top: 20px;
    left: 320px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    @include mq(md) {
        display: none;
    }
}


.hamburger__circle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: $main-color;
}

.hamburger span {
    position: absolute;
    left: 7px;
    display: inline-block;
    width: 20px;
    height: 2px;
    background-color: $white;
}

.hamburger span:first-child {
    top: 10px;
}

.hamburger span:nth-child(2) {
    top: 15px;
    transition: opacity 0.3s;
}

.hamburger span:nth-child(3) {
    top: 20px;
}

.hamburger .is-active {
    width: 21px;
    height: 21px;
    margin: 1px 23px 2px 38px;
}

.hamburger.is-active span:first-child {
    top: 15px;
    transform: rotate(-45deg);
}

.hamburger.is-active span:nth-child(2) {
    display: none;
}

.hamburger.is-active span:nth-child(3) {
    top: 15px;
    transform: rotate(45deg);
}

// ----------------------------------------
// ドロワーメニュー
// ----------------------------------------
.drawer {
    background-color: $main-color;
    width: 375px;
    height: 570px;
}

// ----------------------------------------
// ドロワーロゴ
// ----------------------------------------
.drawer__logo {
    position: absolute;
    @include mq(md) {
        margin-top: 15px;
        margin-left: 50px;
        box-sizing: border-box;
    }

    @include mq(sp) {
        top: 15px;
        left: 25px;
        width: 180px;
    }
}

// ----------------------------------------
// ドロワーナビ
// ----------------------------------------
.drawer-nav__items {
    text-align: center;
    position: relative;
    top: 133px;
}

.drawer-nav__link {
    margin-bottom: 44px;
}
