@charset "UTF-8";
@use '../../global' as *;

// ================================================================
// スクロール
// ================================================================
.scroll {
    position: absolute;
    background-color: $main-color;
    overflow: hidden;

    @include mq("pc") {
        top: 901px;
        left: 1650px;
        width: 150px;
        height: 150px;
        border-radius: 150px;
    }

    @include mq("sp") {
        top: 504px;
        left: 290px;
        width: 65px;
        height: 65px;
        border-radius: 50px;
    }
}

@keyframes scroll {
    0% {
    transform: translateY(-100%);
    }
    33% {
    transform: translateY(0);
    }
    66% {
    transform: translateY(200%);
    }
    100% {
    transform: translateY(200%);
    }
}

.scroll span {
    display: inline-block;
    vertical-align: middle;
    color: $white;
    line-height: 1;
    position: relative;
    background-color: $white;
    animation: scroll-down 2s ease-in infinite;

    @include mq("pc") {
        width: 4px;
        height: 20px;
    }

    @include mq("sp") {
        width: 2px;
        height: 15px;
    }
}

.scroll span::before {
    content: '';
    width: 10px;
    height: 10px;
    border: 2px solid $white;
    border-top: 0;
    border-right: 0;
    transform: rotate(-45deg);
    transform-origin: bottom left;
    position: absolute;
    left: 50%;
    bottom: -3px;
    box-sizing: border-box;
}

.allow-down {

    @include mq("pc") {
        top: 60px;
        bottom: 15px;
        left: 70px;
    }

    @include mq("sp") {
        top: 15px;
        bottom: 15px;
        left: 30px;
    }
}

.allow-right {
    display: inline-block;
    vertical-align: middle;
    color: $black;
    line-height: 1;
    position: relative;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-width: 0.375px 0.64952px;
    border-left-color: $black;
    border-right: 0;
}

.allow-right::before {
    content: "";
    width: 0.65px;
    height: 0.65px;
    border: 0.1px solid $black;
    border-left: 0;
    border-bottom: 0;
    transform: rotate(45deg);
    transform-origin: top right;
    position: absolute;
    top: 50%;
    right: -0.05px;
    box-sizing: border-box;
}

.top-vision__scroll {

}

.top-vision__scroll span {
    position: absolute;
    background-color: $main-color;
    border-radius: 50px;
    overflow: hidden;
    @include mq("sp") {
        top: 1694px;
        left: 290px;
        width: 65px;
        height: 65px;
    }
}

.top-vision__scroll-text,
.top-service__scroll-text {
    font-family: $second-font;
    @include mq("sp") {
        padding-top: 80px;
        padding-left: 132px;
        padding-bottom: 62px;
        font-size: 16px;
    }
}

.top-service__scroll span {
    position: absolute;
    background-color: $main-color;
    border-radius: 50px;
    overflow: hidden;
    @include mq("sp") {
        top: 2410px;
        left: 290px;
        width: 65px;
        height: 65px;
    }
}

.top-recruit__scroll-text {
    position: absolute;
    font-family: $second-font;
    @include mq("sp") {
        top: 4530px;
        left: 83px;
        width: 224px;
        height: 65px;
        font-size: 16px;
    }
}

.top-recruit__scroll span {
    position: absolute;
    background-color: $main-color;
    border-radius: 50px;
    overflow: hidden;
    @include mq("sp") {
        top: 4509px;
        left: 242px;
        width: 65px;
        height: 65px;
    }
}