@charset "UTF-8";
@use '../../global' as *;

// ================================================================
// スクロール
// ================================================================
.scroll {
    position: absolute;
    top: 504px;
    left: 290px;
    width: 65px;
    height: 65px;
    background-color: $main-color;
    border-radius: 50px;
    overflow: hidden;
    @keyframes scroll {
        0% {
        transform: translateY(-100%);
        }
        33% {
        transform: translateY(0);
        }
        66% {
        transform: translateY(200%);
        }
        100% {
        transform: translateY(200%);
        }
    }
}

.scroll span {
    display: inline-block;
    vertical-align: middle;
    color: $white;
    line-height: 1;
    position: relative;
    width: 2px;
    height: 15px;
    background-color: $white;
    animation: scroll-down 2s ease-in infinite;
}

.scroll span::before {
    content: '';
    width: 10px;
    height: 10px;
    border: 2px solid $white;
    border-top: 0;
    border-right: 0;
    transform: rotate(-45deg);
    transform-origin: bottom left;
    position: absolute;
    left: 50%;
    bottom: -3px;
    box-sizing: border-box;
}

.allow-down {
    position: absolute;
    top: 15px;
    bottom: 15px;
    left: 30px;
}