@charset "UTF-8";
@use '../../global' as *;

// ================================================================
// スクロール
// ================================================================
.scroll {
    position: absolute;
    background-color: $main-color;
    overflow: hidden;

    @include mq("pc") {
        top: 901px;
        left: 1650px;
        width: 150px;
        height: 150px;
        border-radius: 150px;
    }

    @include mq("sp") {
        top: 504px;
        left: 290px;
        width: 65px;
        height: 65px;
        border-radius: 50px;
    }
}

.scroll span {
    display: inline-block;
    vertical-align: middle;
    color: $white;
    line-height: 1;
    position: relative;
    background-color: $white;
    animation: scroll-down 2s ease-in infinite;

    @include mq("pc") {
        width: 4px;
        height: 20px;
    }

    @include mq("sp") {
        width: 2px;
        height: 15px;
    }
}

.scroll span::before {
    content: '';
    width: 10px;
    height: 10px;
    border: 2px solid $white;
    border-top: 0;
    border-right: 0;
    transform: rotate(-45deg);
    transform-origin: bottom left;
    position: absolute;
    left: 50%;
    bottom: -3px;
    box-sizing: border-box;
}

.allow-down {

    @include mq("pc") {
        top: 60px;
        bottom: 15px;
        left: 70px;
    }

    @include mq("sp") {
        top: 15px;
        bottom: 15px;
        left: 30px;
    }
}

@keyframes allow-down {
    0% {
    transform: translateY(-100%);
    }
    33% {
    transform: translateY(0);
    }
    66% {
    transform: translateY(50%);
    }
    100% {
    transform: translateY(100%);
    }
}

.allow-right img {
    position: absolute;

    @include mq("pc") {
        top: 42px;
        left: 36px;
        width: 27px;
        height: 12px;
    }

    @include mq("sp") {
        top: 26px;
        width: 65px;
        height: 12px;
    }
}

.top-vision__scroll {

}

.top-vision__scroll span {
    position: absolute;
    background-color: $main-color;
    border-radius: 50px;
    overflow: hidden;

    @include mq("pc") {
        top: 2961px;
        left: 1452px;
        width: 98px;
        height: 98px;
    }

    @include mq("sp") {
        top: 1694px;
        left: 290px;
        width: 65px;
        height: 65px;
    }
}

.top-vision__scroll-text,
.top-service__scroll-text {
    font-family: $second-font;
    font-size: 16px;

    @include mq("pc") {
        padding-top: 55px;
        padding-left: 1293px;
        padding-bottom: 100px;
    }

    @include mq("sp") {
        padding-top: 80px;
        padding-left: 132px;
        padding-bottom: 62px;
    }
}

.top-service__scroll span {
    position: absolute;
    background-color: $main-color;
    border-radius: 50px;
    overflow: hidden;

    @include mq("pc") {
        top: 4390px;
        left: 1452px;
        width: 98px;
        height: 98px;
    }

    @include mq("sp") {
        top: 2410px;
        left: 290px;
        width: 65px;
        height: 65px;
    }
}

.top-news__scroll-text {
    position: absolute;
    font-family: $second-font;
    font-size: 16px;

    @include mq("pc") {
        padding-top: 125px;
        left: 1130px;
        width: 106px;
        height: 16px;
    }

    @include mq("sp") {
        display: none;
    }
}

.top-news__scroll span {
    position: absolute;
    background-color: $main-color;
    border-radius: 50px;
    overflow: hidden;

    @include mq("pc") {
        left: 1300px;
        width: 98px;
        height: 98px;
        bottom: 125px;
    }

    @include mq("sp") {
        display: none;
    }
}

.allow-black {
    position: absolute;

    @include mq("pc") {
        padding-top: 50px;
    }

    @include mq("sp") {
        padding-top: 71px;
    }
}

.allow-black img{
    position: relative;

    @include mq("pc") {
        left: 1475px;
        width: 26px;
        height: 12px;
    }

    @include mq("sp") {
        left: 311px;
        width: 26px;
        height: 12px;
    }
}

.top-recruit__scroll-text {
    position: absolute;
    font-family: $second-font;
    font-size: 16px;

    @include mq("pc") {
        top: 6876px;
        left: 1253px;
        width: 106px;
        height: 16px;
    }

    @include mq("sp") {
        top: 4530px;
        left: 83px;
        width: 224px;
        height: 65px;
    }
}

.top-recruit__scroll span {
    position: absolute;
    background-color: $main-color;
    border-radius: 50px;
    overflow: hidden;

    @include mq("pc") {
        top: 6832px;
        left: 1412px;
        width: 98px;
        height: 98px;
    }

    @include mq("sp") {
        top: 4509px;
        left: 242px;
        width: 65px;
        height: 65px;
    }
}