@charset "UTF-8";
@use '../../global' as *;

// ================================================================
// top-service
// ================================================================
.top-service {

}

.top-service__title {
    color: $accent-color;
    font-family: $second-font;
    font-size: 13px;
    width: 13px;
    height: 57px;
}