@charset "UTF-8";
@use '../../global' as *;

// ================================================================
// top-fv
// ================================================================
.top-fv {
    background-image: url(../images/top_sp/top_fv-sp.png);
    width: 375px;
    height: 570px;
}