@charset "UTF-8";
@use '../../global' as *;

// ================================================================
// top-fv
// ================================================================
.top-fv {

    @include mq("pc") {
        background-image: url(../images/top_pc/top_fv-pc.png);
        background-position: top right;
        width: 100%;
        height: 996px;
    }

    @include mq("sp") {
        background-image: url(../images/top_sp/top-fv_sp.png);
        width: 100%;
        height: 570px;
    }
}

.top-fv__cover {
    position: relative;

    @include mq("pc") {
        top: 237px;
        left: 183px;
        width: 1200px;
        height: 500px;
    }

    @include mq("sp") {
        top: 125px;
        left: 0px;
        width: 355px;
        height: 250px;
    }
}

.top-fv__main img{
    border-radius: 30px;
}

.top-fv__inner {
}

.top-fv__text {
    font-family: $second-font;
    font-weight: $regular;
    color: $main-color;
    position: absolute;

    @include mq("pc") {
        font-size: 250px;
        top: 575px;
        left: 55px;
        width: 778px;
        height: 250px;
    }

    @include mq("sp") {
        font-size: 85px;
        top: 335px;
        left: 10px;
        width: 265px;
        height: 85px;
    }
}

.top-fv__sub {
}

.top-fv__sub-text {
    font-family: $second-font;
    font-weight: $regular;
    color: $main-color;
    position: absolute;

    @include mq("pc") {
        font-size: 60px;
        top: 780px;
        left: 950px;
        width: 650px;
        height: 60px;
    }

    @include mq("sp") {
        font-size: 18px;
        top: 445px;
        left: 160px;
        width: 195px;
        height: 18px;
    }
}

.top-fv__sub-image {
    position: absolute;

    @include mq("pc") {
        top: 780px;
        left: 70px;
        width: 540px;
        height: 80px;
    }

    @include mq("sp") {
        top: 385px;
        left: 1px;
        width: 265px;
        height: 35px;
    }
}