@charset "UTF-8";
@use '../../global' as *;

// ================================================================
// top-service
// ================================================================
.top-service {

}

.top-service__title {
    color: $accent-color;
    font-family: $second-font;
    font-size: 13px;
    padding-top: 110px;
    padding-left: 60px;
    width: 175px;
    height: 57px;
    transform: rotate(90deg);
}