@charset "UTF-8";
@use '../../global' as *;

// ================================================================
// top-about
// ================================================================
.top-about {
    background-color: $background-color;

    @include mq("pc") {
        background-image: url(../images/top_pc/top-about_pc.png);
        background-position: center left;
        width: 100%;
        height: 955px;
    }

    @include mq("sp") {
        background-image: url(../images/top_sp/top-about_sp.png);
        background-position: center;
        width: 100%;
        height: 523px;
    }
}

.top-about__title {
    color: $main-color;
    font-family: $second-font;

    @include mq("pc") {
        padding-top: 223px;
        padding-left: 183px;
        font-size: 28px;
    }

    @include mq("sp") {
        padding-top: 53px;
        padding-left: 20px;
        font-size: 13px;
    }
}

.top-about__text {
    font-family: $base-font;

    @include mq("pc") {
        padding-left: 457px;
        font-size: 48px;
    }

    @include mq("sp") {
        padding-top: 10px;
        padding-left: 20px;
        font-size: 24px;
    }
}

.top-about__sub {
    font-family: $base-font;

    @include mq("pc") {
        padding-top: 53px;
        padding-bottom: 407px;
        font-size: 20px;
        text-align: center;
    }

    @include mq("sp"){
        width: 328px;
        padding-top: 50px;
        padding-left: 20px;
        font-size: 16px;
        text-align: left;
        line-height: 1.55;
    }
}

.top-about__marquee-text-wrapper {
    position: absolute;

    @include mq("pc") {
        top: 1700px;
        left: 0px;
        width: 959px;
        height: 250px;
    }
}

.top-about__marquee-text {
    display: flex;
}