@charset "UTF-8";
@use '../../global' as *;

// ================================================================
// top-service
// ================================================================
.top-service {
    background-color: $background-color;
    width: 375px;
    height: 726px;
}

.top-service__title {
    color: $accent-color;
    font-family: $second-font;
    font-size: 13px;
    padding-top: 110px;
    padding-left: 60px;
    width: 175px;
    height: 57px;
    transform: rotate(90deg);
}

.top-service__text {
    text-align: center;
    font-size: 41px;
    line-height: 1.35;
    width: 335px;
}

.top-service__sub-image {
    position: absolute;
    top: 2105px;
    left: 156px;
    width: 185px;
    height: 35px;
}