@charset "UTF-8";
@use '../../global' as *;

// ================================================================
// top-fv
// ================================================================
.top-fv {
    background-image: url(../images/top_sp/top-fv_sp.png);
    width: 375px;
    height: 570px;
}

.top-fv__cover {
    position: relative;
    top: 125px;
    left: 0px;
    width: 355px;
    height: 250px;
    border-radius: 50px;
}

.top-fv__main {
    border-radius: 50px;
}

.top-fv__text {
    font-family: $second-font;
    font-weight: $regular;
    color: $main-color;
    font-size: 85px;
    position: absolute;
    top: 210px;
    left: 10px;
    width: 265px;
    height: 85px;
}

.top-fv__sub-text {
    font-family: $second-font;
    font-weight: $regular;
    color: $main-color;
    font-size: 18px;
    position: absolute;
    top: 320px;
    left: 160px;
    width: 200px;
    height: 18px;
}

.top-fv__sub-image {
    position: absolute;
    top: 260px;
    left: 5px;
    width: 265px;
    height: 35px;
}