@charset "UTF-8";
@use '../../global' as *;

// ================================================================
// top-news
// ================================================================
.top-news {

    @include mq("pc") {
        background-image: url(../images/top_pc/top-news_bg-pc.png);
        width: 1920px;
        height: 1200px;
    }

    @include mq("sp") {
        background-image: url(../images/top_sp/top-news_bg-sp.png);
        width: 100%;
        height: 900px;
    }
}

.top-news__inner {
    background-color: $white;
    position: absolute;

    @include mq("pc") {
        top: 4688px;
        left: 183px;
        width: 1554px;
        height: 953px;
        border-radius: 50px;
    }

    @include mq("sp") {
        top: 2575px;
        left: 20px;
        width: 335px;
        height: 825px;
        border-radius: 30px;
    }
}

.top-news__title {
    color: $main-color;
    font-family: $second-font;

    @include mq("pc") {
        padding-top: 106px;
        padding-left: 293px;
        font-size: 28px;
    }

    @include mq("sp") {
        padding-top: 63px;
        padding-left: 10px;
        font-size: 13px;
    }
}

.top-news__link {
    display: flex;

    @include mq("pc") {
        padding-left: 617px;
        text-align: center;
    }

    @include mq("sp") {
        padding-top: 20px;
        padding-bottom: 30px;
        text-align: center;
    }
}

.top-news__btn-1 {
    position: absolute;
    background: $main-color;
    border: 1px solid $main-color;
    color: $white;
    border-radius: 50px;

    @include mq("pc") {
        left: 800px;
        width: 200px;
        height: 50px;
    }

    @include mq("sp") {
        top: 95px;
        left: 10px;
        width: 100px;
        height: 40px;
    }
}

.top-news__btn-2 {
    position: absolute;
    background: $white;
    border: 1px solid $main-color;
    color: $black;
    border-radius: 50px;
    text-align: center;

    @include mq("pc") {
        left: 1030px;
        width: 200px;
        height: 50px;
    }

    @include mq("sp") {
        top: 95px;
        left: 120px;
        width: 100px;
        height: 40px;
    }
}

.top-news__btn-3 {
    position: absolute;
    background: $white;
    border: 1px solid $main-color;
    color: $black;
    border-radius: 50px;
    text-align: center;

    @include mq("pc") {
        left: 1260px;
        width: 200px;
        height: 50px;
    }

    @include mq("sp") {
        top: 95px;
        left: 225px;
        width: 100px;
        height: 40px;
    }
}

.top-news__link::after {
    content: "";
    position: absolute;
    background-color: $line-color;

    @include mq("pc") {
        top: 196px;
        left: 187px;;
        width: 1180px;
        height: 1px;
    }

    @include mq("sp") {
        top: 160px;
        left: 10px;
        width: 315px;
        height: 1px;
    }
}

.top-news__list {
    @include mq("sp") {
        width: 315px;
        height: 599px;
        margin-bottom: 60px;
    }
}

.top-news__item {

    @include mq("pc") {
        width: 1180px;
    }

    @include mq("sp") {
        width: 315px;
    }
}

.top-news__item:first-child {
    @include mq("sp") {
        padding-top: 25px;
    }
}

.top-news__item-inner {
    display: flex;

    @include mq("pc") {
        padding-top: 45px;
        padding-left: 187px;
    }

    @include mq("sp") {
        padding-top: 20px;
        padding-left: 20px;
    }
}

.top-news__item-date {
    color: $accent-color;

    @include mq("pc") {
        font-size: 16px;
        margin-top: 45px;
        margin-left: 106px;
        margin-right: 40px;
    }

    @include mq("sp") {
        font-size: 15px;
        padding-right: 5px;
    }
}

.top-news__item-text {
    font-family: $base-font;
    font-size: 16px;
    font-weight: $bold;

    @include mq("pc") {
        padding-left: 585px;
    }

    @include mq("sp") {
        padding-left: 20px;
        padding-top: 15px;
    }
}

.top-news__item-text::after {
    content: "";
    display: block;
    position: absolute;
    background-color: $line-color;

    @include mq("pc") {
        left: 187px;
        width: 1180px;
        height: 1px;
    }

    @include mq("sp") {
        width: 315px;
        left: 10px;
        height: 1px;
    }
}